canvas{

    display: block;
  
    margin-left:400px;
  
    margin-top: 60px;
  
    box-shadow: -2px -2px 2px #ffffff, 5px 5px 5px #000000;
  
    width: 450px; height: 450px;
  
      } 
  
   input{float: bottom; display: block; 
  
     width: 100px; height: 31px; font-size: 18px;
     
     left:0%;
     right:0%;
     bottom: 20px;
     top:0%;
     margin-left: 580px;
     margin-top: 20px;
     
  
     
   }
  
   input:hover{ background-color:rgb(0, 0, 0); color: #000000;}

 
   
